In [1]:
#import pandas lib
import pandas as pd

In [2]:
#importing the data
#how to make data
x = {
    'name':['ABC','XYZ','PQR'],
    'age':[22,24,45],
    'marks':[56,34,40]
}

In [3]:
x

{'name': ['ABC', 'XYZ', 'PQR'], 'age': [22, 24, 45], 'marks': [56, 34, 40]}

In [4]:
df = pd.DataFrame(x)

In [5]:
df

  name  age  marks
0  ABC   22     56
1  XYZ   24     34
2  PQR   45     40

In [8]:
df['name'][2]

'PQR'

In [20]:
df['name'][1] = 'Monika'

C:\Users\ddugky\AppData\Local\Temp/ipykernel_1832/2358111489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'][1] = 'Monika'

In [21]:
df

     name  age  marks
0     ABC   22     56
1  Monika   24     34
2     PQR   45     40

In [16]:
df

  name  age  marks
0  ABC   22     56
1  123   24     34
2  PQR   45     40

In [22]:
#storing the data
#.csv ---> commma seperated value
#.xlxs--->excel
file = df.to_csv('myfile.csv')

In [23]:
file

In [28]:
# read the file
read_file = pd.read_csv(r'C:\Users\ddugky\Python\WD_DA\myfile.csv')

In [26]:
read_file

   Unnamed: 0    name  age  marks
0           0     ABC   22     56
1           1  Monika   24     34
2           2     PQR   45     40

In [30]:
df = pd.read_csv(r'C:\Users\ddugky\Downloads\archive (1)\Bengaluru_House_Data.csv')

In [31]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [38]:
df1 = pd.read_excel(r'Downloads\Long-Term-Unemployment-Statistics.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads\\Long-Term-Unemployment-Statistics.csv'